@charset "UTF-8";

/* Mobile */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}



header{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

header > h1 {
    margin: 10px;
    border: 1px dashed black;
}



main{
    max-width: 600px;
    /* height: 88.6vh; */
    border: 1px dashed black;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
}

main>h1{
    margin: 10px;
    border: 1px dashed black;
    background-color: gray;
}

#menu{
    border: 1px dashed black;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#menu > ul > li{
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    border: 1px dashed black;
}

#menu > ul > li:hover{
   background-color: green;
}


#container{
    border: 1px dashed black;
    height: 66vh;
    /* margin-top: 10px; */
    display: flex;
    flex-flow: row nowrap;
    /* align-items: flex-start; */
}

#imagem{
    border: 1px dashed rgb(207, 23, 23);
    flex: 0 0 300px;
    text-align: center;
    padding-top: 40px;
}

#imagem>figcaption{
    border: 1px dashed black;

}

#conteudo{
    border: 1px dashed rgb(27, 190, 33);
}

footer{
    border: 1px dashed black;
    text-align: center;
    border: 1px solid black;
}
